@charset "UTF-8";
/* Variables */
:root {
  --theme-color:rgb(152, 201, 247);
  --primary-color:rgb(255, 255, 255);
  --secondary-color: rgb(33, 13, 214);
}

body {
  background: #f7e098;
  padding: 80px 0px;
  max-width: 400px;
}

body,
input,
button {
  font-family: 'Roboto', sans-serif;
}
.noFill{
  fill:none; /*new*/
}

.wrapper--outer{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: var(--theme-color);
  display:flex;
  justify-content: center;
  align-items: center;
}

.wrapper--todo{
  border-radius: 5px;
  max-width:400px;
  height:100%;
   padding:20px;
}
.container {
  width: 100%;
  float: left;
  height:85%;
  padding: 20px;
  overflow-y: auto;
  background: var(--primary-color);

}

header {
  display:flex;
  align-items: center;
  width: 100%;
  max-width:400px;
  height: 80px;
  padding: 15px;
  background-color:var(--secondary-color);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  /*3rd is blur*/
}

header input {
  width: 100%;
  height: 50px;
  float: left;
  font-size :1.4rem;
  text-indent: 18px;
  /* nouveau*/
  padding: 0 60px 0 0;
  color: var(--primary-color);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0px 0px 5pxx 5px;
  border: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

header input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

#button--div{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5% 50% 50% 5%;
}
header button {
  width: 50px;
  height: 50px;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:0px;
  z-index: 2;
  border-radius: 25px;
  background: #fff;
  outline: none;
  border: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

header button svg {
  width: 16px;
  height: 16px;
}
header button:hover {
  
  cursor: pointer;
}
header button svg .fill {
  fill: var(--secondary-color);
}



ul.todo {
  min-width: 300px;
  width: 100%;
  float: left;
  padding:15px 0 0 0;
}

ul.todo li {
  width: 100%;
  float: left;
  min-height: 50px; /*this way the text doesnt overflow y*/
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 10px rgba(44, 62, 80, 0.10);
          box-shadow: 0px 1px 10px rgba(44, 62, 80, 0.10);
  margin: 0 0 10px 0;
  padding:14px 100px 14px 14px;
  position: relative;
  font-size: 14px;
  font-weight:500;      
  color:#444;      
  line-height: 22px;

}

ul.todo li:last-of-type
/*new*/
{
  margin: 0;
}
ul.todo#completed:before{/* new*/
content: "";
width:150px;
height:1px;
position: absolute;
background:#dddada;
top:30px;
left:50%;
margin:0 0 0 -75px;
}
ul.todo#completed{ 
  padding: 60px 0 0 0;
  position: relative;
}
ul.todo#completed:empty:after{
  content: "Vous n'avez effectué aucune tâche."
}
ul.todo#todo:empty:after{
  content: "Vous n'avez aucune tâche à effectuer."
}
ul.todo#completed:after,
ul.todo#todo:after{
  width: 100%;
  display: block;
  font-size: 12px;
  color:var(--primary-color);
  text-align: center;
  font-family: 'Gaegu', cursive;
  font-size: 1.3em;
}

ul.todo li .buttons {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
}
ul.todo li .buttons button{
  width:50px;
  height: 50px;
  float: left;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border:0px;
  position: relative;
  cursor:pointer;
}

ul.todo li .buttons button:last-of-type:before {
  content:'';
  width:1px;
  height: 30px;
  position:absolute; 
  top:10px;
  left:0;
  background:var(--secondary-color);
}
ul.todo li .buttons button svg {
  width:22px;
  height:22px;
  position:absolute;
  top:50%;
  left:50%;
  margin:-11px 0 0 -11px;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

ul.todo#completed li .buttons button.complete svg{
  background: var(--secondary-color); 
  border:0px;
  fill:var(--secondary-color);
}
ul.todo#completed li .buttons button.complete svg .fill{
  fill:var(--primary-color);
}
ul.todo:not(#completed) li .buttons button.complete:hover svg{
  background: var(--secondary-color);
}

ul.todo:not(#completed) li .buttons button.complete:hover svg .fill{
  fill: var(--primary-color);
}
ul.todo li .buttons button svg .fill{
  -webkit-transition:fill 0.2 ease;
  transition:fill 0.2 ease;
}
ul.todo li .buttons button.remove svg .fill {
fill:var(--secondary-color);
}

ul.todo li .buttons button.remove:hover svg .fill {
  fill:red;
  }

ul.todo li .buttons button.complete svg {
    border-radius:11px;
    border:1.5px var(--secondary-color) solid ;
  }
ul.todo li .buttons button.complete svg .fill {
    fill: var(--secondary-color);
    }